/* white box at the top*/
.heading-box {
    position: relative;
    top: 0px;
    height: 45px;
    width: 960px;
    background: #ffffff;
    border: solid 1px #cccccc;
}


/* turquose box at the top*/
.heading-box-1 {
    position: absolute;
    width: 350px;
    height: 30px;
    color: white;
    left: 100px;
    text-align: center;
    padding-top: 15px;
    background: #4aaaa5;
    font-size: 24px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

/*About Me*/
.heading-box-2
{
    position: absolute;
    top: 0px;
    left: 430px;
    width: 100px;
    height: 25px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 20px;
}

/* Portfolio */
.heading-box-3
{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 25px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 20px;
}

/* Contact us */
.heading-box-4
{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 25px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 20px;
}

/* light grey box background*/
.heading-box-5 {
    position: relative;
    background: #777777;
    border-right: .5px solid black;
    border-left: .5px solid black;
    width: 960px;
    height: 600px;

}






h2 {
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
}


p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}


.box-footer {
    background: #666666;
    height: 55px;
    width: 100%;
    padding-top: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    border-top: 8px solid #4aaaa5;
    top: 600px;
    position: absolute;
}

.section-title {
    position: absolute;
    color: #4aaaa5;
    font-size: 18px;
    top: 10px;
    left: 10px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.section-rule {
    position: absolute;
    border-bottom: .5px solid black;
    left: 10px;
    right: 10px;
    top: 35px;
}

















