/* white box in the middle */

.content-box {
    position: relative;
    left: 100px;
    top: -650px;
    width: 960px;
    height: 500px;
    padding: 10px;
    veritcal-align: middle;
    background: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.comment {
    width: 95%;
    height: 100px;
    padding: 10px;
}

.input-box {
    width: 95%;
    height: 5%;
    padding: 5px;
}

.button-style {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button-style:hover
{
    background-color: #dddddd;
    color: #666666;
}