/* white box in the middle */

.content-box {
    position: relative;
    top: -600px;
    left: 100px;
    width: 760px;
    height: 350px;
    padding: 10px;
    veritcal-align: middle;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.wrap-text {
    position: relative;
    width: 150px;
    heigth: 150px;
    float: left;
    align: top;
    margin: 10px;

}

@media screen and (max-width: 980px){
    .content-box {
        width: 560px;
    }

}

@media screen and (max-width: 768px) {
    .heading-box {
        width: 700px;
    }

    .heading-box-1 {
        width: 300px;
        left: 0px;
        font-size: 18px;
    }

    .heading-box-2 {
        width: 75px;
        left: 350px;
        font-size: 14px;
    }

    .heading-box-3 {
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .heading-box-4 {
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .section-title {
        font-size: 18px;

    }
    .content-box {
        width: 600px;
        left: 40px;
    }

    .box-footer {
        width: 700px;
    }

    .heading-box-5
    {
        width: 700px;
    }

}


@media screen and (max-width: 640px) {
    .heading-box {
        position: static;
        width: 640px;
    }

    .heading-box-1 {
        position: static;
        width: 640px;
        left: 0px;
        font-size: 18px;
    }

    .heading-box-2 {
        position: static;
        width: 75px;
        left: 350px;
        font-size: 14px;
    }

    .heading-box-3 {
        position: static;
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .heading-box-4 {
        position: static;
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .section-title {
        font-size: 18px;

    }
    .content-box {
        width: 525px;
        left: 40px;
    }

    .box-footer {
        width: 640px;
    }

    .heading-box-5
    {
        top: 100px;
        width: 640px;
    }

}

