/* white box in the middle */

.content-box {
    position: relative;
    left: 100px;
    top: -650px;
    width: 760px;
    height: 500px;
    padding: 10px;
    veritcal-align: middle;
    background: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.comment {
    width: 95%;
    height: 100px;
    padding: 10px;
}

.input-box {
    width: 95%;
    height: 5%;
    padding: 5px;
}

.button-style {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button-style:hover
{
    background-color: #dddddd;
    color: #666666;
}


@media screen and (max-width: 980px){
    .content-box {
        width: 560px;
    }

}

@media screen and (max-width: 768px) {
    .heading-box {
        width: 700px;
    }

    .heading-box-1 {
        width: 300px;
        left: 0px;
        font-size: 18px;
    }

    .heading-box-2 {
        width: 75px;
        left: 350px;
        font-size: 14px;
    }

    .heading-box-3 {
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .heading-box-4 {
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .section-title {
        font-size: 18px;

    }
    .content-box {
        width: 600px;
        left: 40px;
    }

    .box-footer {
        width: 700px;
    }

    .heading-box-5
    {
        width: 700px;
    }

}


@media screen and (max-width: 640px) {
    .heading-box {
        width: 640px;
    }

    .heading-box-1 {
        width: 640px;
        left: 0px;
        font-size: 18px;
    }

    .heading-box-2 {
        width: 75px;
        left: 350px;
        font-size: 14px;
    }

    .heading-box-3 {
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .heading-box-4 {
        width: 75px;
        left: 100px;
        font-size: 14px;
    }

    .section-title {
        font-size: 18px;

    }
    .content-box {
        width: 525px;
        left: 40px;
    }

    .box-footer {
        width: 640px;
    }

    .heading-box-5
    {
        width: 640px;
    }

}